<html>
<head>
         
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    <style type="text/css">
        body {        
            font-family: "Arial";
            font-size: 140%;
            background-image: url("img/fondo.jpg");
        }    
    </style>
    
<title>Galileo</title>
</head>
<body>
    
<nav class="navbar navbar-default" style="background:#0B0B61">
  <div class="container-fluid">    
    <div class="navbar-header" >
        <a class="navbar-brand" style="color:white;">GALILEO</a>
    </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                   
      <ul class="nav navbar-nav navbar-right">       
        <ul class="nav navbar-nav">        
            <li><a href="#" style="color:white">Cerrar sesión</a></li>                      
        </ul>            
      </ul>
    </div>
  </div>
</nav>
    
<br>
<br>   
    
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >      
  <div class="panel panel-info">
    <div class="panel-heading" style="background:#0B0B61">
              <h3 class="panel-title" style="text-align: center;color:white;">Usuario Galileo</h3>
    </div>
    <div class="panel-body">
        <div class="row">                
            <div class=" col-md-9 col-lg-12"> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nombre:</td>
                        <td><%= userName %></td>
                      </tr>
                      <tr>
                        <td>Apellido:</td>
                        <td><%= userSurname %></td>
                      </tr>
                      <tr>
                        <td>DNI:</td>
                        <td><%= userDNI %></td>
                      </tr>                                       
                      <tr>
                        <td>Temperatura seleccionada:</td>
                        <td>
                         <input name ="temp" type="range" min="18" max="30" value="18" step="1" onchange="showValue(this.value)" />
                            <span id="range"><%= userTemp %></span>
                            <script type="text/javascript">
                            function showValue(newValue)
                            {
                                document.getElementById("range").innerHTML=newValue;
                            }
                            </script>
                        </td>
                      </tr>                                           
                      <tr>
                        <td>Intensidad de luz:</td>
                        <td>
                         <input name ="luz" type="range" min="0" max="100" value="50" step="5" onchange="showValue(this.value)" />
                            <span id="range"><%= userLuz %></span>
                            <script type="text/javascript">
                            function showValue(newValue)
                            {
                                document.getElementById("range").innerHTML=newValue;
                            }
                            </script>
                        </td>                          
                      </tr> 
                    </tbody>
                  </table>
            </div>
        </div>
    </div>             
  </div>
</div>
            
</body>
</html>    